schema = {
    'pmd':    'om de week op woensdag van 2024-01-03 tot 2024-12-31',
    'gft':    'iedere 4 weken op dinsdag van 2024-01-09 tot 2024-12-31',
    'rest':   'iedere 4 weken op donderdag van 2024-01-18 tot 2024-12-31',
    'papier': 'iedere 4 weken op woensdag van 2024-01-24 tot 2024-12-31',
}
